<br>
<p style="font-family: arial, hesveltica, roboto; font-size: large"><strong>Módulo de Minutas de Reunión</strong></p>
<p style="font-family: arial, hesveltica, roboto; font-size: medium"><strong>Cursos Proyecto y Taller de Ingeniería de Software</strong></p>
<p style="font-family: arial, hesveltica, roboto; font-size: medium">Departamento de Ingeniería Informática</p>
<p style="font-family: arial, hesveltica, roboto; font-size: medium">Universidad de Santiago de Chile</p>
<hr>
<p style="font-family: arial, hesveltica, roboto; font-size: small; color: gray">Este correo ha sido enviado de forma automática por la aplicación
  Módulo de Minuta de Reunión del Departamento de Ingeniería Informática. No responda a esta dirección de correo. Si requiere información adicional, contáctese
   con los profesores de los cursos Proyecto de Ingeniería de Software y Taller de Ingeniería de Software del Departamento.</p>
