<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Se ha emitido una minuta para la revisi칩n del cliente</h1>
    <br>
    <p>Estimado/a estudiante:</p>
    <br>
    <p>Tu compa침ero/a <strong><%= @emisor.usuario.nombre + ' ' + @emisor.usuario.apellido_paterno %></strong>
    ha emitido la minuta <strong><%= @bitacora.minuta.codigo + '_' + @bitacora.revision %></strong> para la revisi칩n del cliente. Quedar치 a la espera
    de los comentarios que el cliente le pueda realizar.</p>
  </body>
</html>
