<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Todos los integrantes han aceptado la minuta que emitio</h1>
    <br>
    <p>Estimado/a estudiante:</p>
    <br>
    <p>Se ha emitido la minuta <strong><%= @bitacora.minuta.codigo + '_' + @bitacora.revision %></strong>. En la cual necesita emitir una nueva version para que esta sea confirmada y enviada al cliente.</p>
  </body>
</html>