<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Se ha emitido una nueva minuta de reunión que requiere de su revisión</h1>
    <br>
    <p>Estimado/a cliente/a:</p>
    <br>
    <p>Se ha emitido una nueva minuta de reunión <strong><%= @bitacora.minuta.codigo + '_' + @bitacora.revision %></strong> del proyecto <strong><%= @grupo.proyecto %></strong>
      que requiere de su revisión. Por favor, ingrese a la aplicación <b>Módulo de Minutas de Reunión</b> de los cursos
      Proyecto y Taller de Ingeniería de Software del Departamento de Ingeniería Informática de la Universidad de Santiago de Chile, en su sección <b>Para revisión</b> para ingresar
      su revisión y comentarios.</p>
  </body>
</html>
