<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Se ha emitido una minuta semanal/h1>
    <br>
    <p>Estimado/a estudiante:</p>
    <br>
    <p>Se ha emitido la minuta <strong><%= @bitacora.minuta.codigo + '_' + @bitacora.revision %></strong>. La cual podra ser revisada por el profesor.</p>
  </body>
</html>