<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Se respondieron los comentarios realizados a la <%= @bitacora.minuta.codigo %>_<%= @bitacora.revision %></h1>
    <br>
    <p>Estimado/a cliente, el/la estudiante
      <strong><%= @emisor.usuario.nombre + ' ' + @emisor.usuario.apellido_paterno %></strong> ha revisado sus comentarios y ha respondido aquellos
      que consideró necesario. Para visualizar las respuestas generadas, por favor ingrese a la aplicación <b>Módulo de Minutas de Reunión</b> de los cursos
      <b>Proyecto y Taller de Ingeniería de Software</b> y revise sus respuestas en la sección <b>Respondidas</b>.</p>
  </body>
</html>
